
            .img{
                width: 150px;
                height: 100px;
                margin-left: 8px;
                margin-top: -40px;
            }
            h1{
                font-size: 30px;
            }
            .a{
                color: white;
                float: right;
                font-size: 20px;
                margin-top: 30px;
            }
            .bdiv{
                background-image: url(../img/bg_3.jpg);
                padding: 130px 20px 20px 20px;
                text-align: center;
                background-size: cover;
                height: 450px;
            }
            .bdiv2{
                background-image: url(../img/bg_3.jpg);
                padding: 130px 20px 20px 20px;
                text-align: center;
                background-size: cover;
            }
            .bdiv3{
                background-image: url(../img/bg_3.jpg);
                padding: 130px 20px 20px 20px;
                text-align: left;
                background-size: cover;
            }
            .bimg{
                height: 60px;
                width: 60px;
            }
            input{
                width: 250px;
                height: 30px;
                border-color: #2980B9;
                font-size: 20px;
                text-align: center;
                background-color: grey;
            }
            ::placeholder{
                color: black;
                opacity: 1;
            }
            .cdiv{
                margin: 40px 20px 20px 40px;
            }
            .button2{
                height: 35px;
                width: 100px;
                font-size: 15px;
                border-color: #2980B9;
                background-color: #2980B9;
                color: white;
                opacity: 1;
                border-radius: 4px;
            }
            .buttondiv{
                margin-top: 50px;
            }
            .insidediv{
                height: 500px;
                width: 500px;
                margin: 0 auto;
                background-color: white;
                text-align: center;
                padding: 10px 10px 10px 10px;
                opacity: 0.8;
            }
            .insidediv2{
                height: 900px;
                width: 900px;
                margin: 0 auto;
                background-color: white;
                text-align: center;
                padding: 10px 10px 10px 10px;
                opacity: 0.8;
            }
            .insidediv3{
                height: 800px;
                width: 600px;
                margin: 0 auto;
                background-color: white;
                text-align: center;
                padding: 10px 10px 10px 10px;
                opacity: 0.8;
            }
            .textimg{
                height: 20px;
                width: 20px;
                position: absolute;
                margin-top: 7px;
                margin-left: 4px;
            }
     
            .textspace{
                padding-top: 10px;
                padding-bottom: 10px;
            }
            
         

 
