{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">

        <div class="row mt-5">
            <iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiYTBhZmIyYTktMTQ2NS00M2YxLWJjMDQtMzZkOTdlMTI0YTdkIiwidCI6IjlhNWI1NjkxLWE0NTEtNDllNy05M2RlLTljNjFjYjA0MzI4YiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="row mt-5">
            <iframe width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiOWY0Yzk0NjctODVjZS00ZDIwLWE1NDktZGQzNDAyMDJjYzc3IiwidCI6IjlhNWI1NjkxLWE0NTEtNDllNy05M2RlLTljNjFjYjA0MzI4YiIsImMiOjEwfQ%3D%3D" frameborder="0" allowFullScreen="true"></iframe>
        </div>
        <div class="row mt-5">
            <div class="col-6">
                {{ div_state_chart|safe }}
            </div>
            <div class="col-6">
                {{ div_gender_chart|safe }}
            </div>
        </div>

        {{ div_hist_age|safe }}

    </div>

    {{ script_gender_chart|safe }}
    {{ script_state_chart|safe }}
    {{ script_hist_age|safe }}
{% endblock %}