{% extends 'base.html' %}
{% block content %}
    {% include 'navbar2.html' %}
    <body style="background-image:url({{ url_for('static', filename = 'my.jpg') }});background-size:cover;">
    <div class="container">
        <form action ="http://localhost:5000/regPolice" method = "post">    
            <div id="includedContent"></div>
                <div class="bdiv2">
                    <div class="insidediv2">
                        <img class="bimg" src="{{ url_for('static', filename = 'admin.png') }}"/>
                        <h3>Register Police Officer</h3>
                        <div class="cdiv">
                            <img class="textimg" src="{{ url_for('static', filename = 'un5.png')}}"/>
                            <input type="text" placeholder="Email" name="email"> </br></div>
                            
                        <div class="cdiv">
                            <img class="textimg" src="{{ url_for('static', filename = 'un5.png')}}"/>
                            <input type="text" placeholder="ID No" name="id">
                        </div>

                        <div class="cdiv">
                            <img class="textimg" src="{{ url_for('static', filename = 'un5.png')}}"/>
                            <input type="text" placeholder="Name" name="name">
                        </div>

                        <div class="cdiv">
                            <img class="textimg" src="{{ url_for('static', filename = 'un5.png')}}"/>
                            <input type="text" placeholder="Rank No" name="rank">
                        </div>
                        <div class="buttondiv">
                            <button class="button2" type="submit">Register</button></div>
                            
                </div>
           </form>
    </div>
    </body>
{% endblock %}